<!doctype html>
<html>
<head>
<title>Chiisai: Create a New Short URL</title>
<style type="text/css">
    form input[type=text] {
        width: 80%;
    }
</style>
</head>
<body>
    <h1>Create a New Short URL</h1>
    <form action="{{ url_for('create_short_url') }}" method="POST">
        <p>Long URL: <input type="text" name="url"></p>
        <p>(Optional) Alias: <input type="text" name="alias"></p>
        <p><input type="submit" value="Shorten"></p>
    </form>

    <h2>Top URLs</h2>
    <ol>
    {% for url in top_urls %}
        <li><a href="{{ url_for('short_url', alias=url.alias, _external=True)}}">{{url.alias}}</a>: {{url.url}} - {{url.hits}}</li>
    {% endfor %}
    </ol>

    <h2>Recent URLs</h2>
    <ol>
    {% for url in recent_urls %}
        <li><a href="{{ url_for('short_url', alias=url.alias, _external=True)}}">{{url.alias}}</a>: {{url.url}} - {{url.created}}</li>
    {% endfor %}
    </ol>
</body>
</html>
